body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #D1DEDE;
}



/*Hovers*/
.navbar-container a:hover,
.navbar-container a:focus,
.navbar-container button:hover,
.cta:hover,
.cta:focus,
.accordion button:hover,
.accordion button:focus,
.resources-cards a:hover,
.resources-cards a:focus {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
    color: #D1DEDE;
    text-decoration: none;
}

.accordion button:hover,
.accordion button:focus {
    color: #fbbc45;
}

/*Fonts*/
.navbar-container a {
    font-weight: 500;
}

/*Navigation*/
.navbar-container {
    background-color: #30343F;
    min-height: 56px;
}

.navbar>a {
    margin-left: 16px;
}

.navbar-container a,
.navbar-container button {
    color: #D1DEDE;
    padding: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-container .navbar-brand {
    color: #fbbc45;
}

.navbar-container button {
    border: 1px solid #D1DEDE;
    padding: 5px 10px;
}

.navbar-container ul>li {
    text-align: center;
}

.navbar-container .active a {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
}

/*Main*/
main {
    flex-grow: 1;
    height: 100%;
}


#hero {
    width: 100%;
    height: 700px;
    flex-grow: 1;
    background: url('../images/background.webp') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero h1 {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: #30343F;
    background-color: #fbbc45;
}

#hero a {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #D44D5C;
    padding: 10px;
    margin-top: 15px;
    border: 0;
    border-radius: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#hero a {
    color: #D1DEDE;
    text-decoration: none;
}


#hero a:focus,
#hero a:hover {
    background-color: #30343F;
}

.important-notice {
    background-color: #fbbc45;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    text-align: center;
}

.carousel-inner p {
    text-align: center;
    padding: 10px 25px;
    margin: 10px 25px;
}

.paragraph-color {
    background-color: #30343F;
    color: #D1DEDE;
    border-radius: 5px;
}

.body-color {
    color: #30343F;
}

.align-container {
    text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
    color: #30343F;
    font-size: 50px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-next:focus {
    color: rgba(0, 0, 0, .9);
}

.carousel-indicators li {
    color: #30343F;
    background-color: #30343F;
}

.pattern {
    width: 75px;
    height: 5px;
    border: 0;
    border-radius: 5px;
    background-color: #D44D5C;
}

/*Footer*/

footer {
    background-color: #30343F;
    min-height: 56px;
    position: relative;
}



.social-media ul {
    margin: 0;
    text-align: center;
    list-style-type: none;

}

.social-media ul>li {
    margin: 5px;
}

.social-media li a i {
    color: #D1DEDE;
    font-size: 30px;
    padding: 5px 8px;
    border-radius: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    vertical-align: center;
    margin: 0 10px;
}

.social-media li a i:hover,
.social-media li a i:focus {
    background-color: rgba(0, 0, 0, .5);
}

#email {
    width:150px;
}

/*Subscribe*/
.cta {
    background-color: #D44D5C;
    color: #D1DEDE;
    border: 0;
    border-radius: 5px;
    margin: 10px 0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*Methods*/

.accordion button {
    color: #fbbc45;
    position: relative;
}

.accordion button i {
    position: absolute;
    top: 25%;
}

.accordion button .abs-plus {
    right: 20px;
}

.accordion button .fa-slash {
    right: 12px;
    transform: rotate(20deg);
}

.abs-minus {
    right: 0;
}

.accordion .card {
    background-color: #30343F;
    color: #D1DEDE;
}

.accordion li::marker {
    color: #fbbc45;
}

.introduction {
    background-color: #fbbc45;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 30px;
    padding: 15px 25px;
    border-radius: 5px;
}

.card {
    margin-bottom: 0.2rem;
}


/*Resources*/
.resources-cards .card {
    background-color: #30343F;
    color: #D1DEDE;
}

.resources-cards a {
    background-color: #D44D5C;
    color: #D1DEDE;
    border: 0;
    border-radius: 5px;
    padding: 1px 6px;
    margin: 10px 0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.resources-cards .res-link {
    text-align: end;
}