/*Hovers*/
.navbar-container a:hover,
.navbar-container a:focus,
.navbar-container button:hover {
    background-color: rgba(0,0,0, .5);
    border-radius: 5px;
}

.navbar-container {
    background-color: #30343F;
}

.navbar>a {
    margin-left: 16px;
}

.navbar-container a,
.navbar-container button {
    color: #D1DEDE;
    padding: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-container button {
    border: 1px solid #D1DEDE;
    padding: 5px 10px;
}

.navbar-container ul>li {
    text-align: center;
    margin:
}

.navbar-container .active a {
    background-color: rgba(0,0,0, .5);
    border-radius: 5px;
}

